<%= render "welcome/signup" %>

<div class="t2t-video">
<div id="bgndVideo" class="player overlay-texture" data-property="{videoURL:'XEkl2XjorCU',containment:'body',autoPlay:true, mute:true, loop:true, showControls:false, quality:'highres', startAt:0, opacity:1}"></div>
</div>

<%= render "layouts/header" %>



<!--<p> This is lame. All you can do so far is <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </p> -->
